%p= "Welcome to WCMS,  #{@user.profile.firstname}!"
%p Din ansökan har blivit godkänd.
%p= "Message: #{@reason}"
%p To activate your account, klick the link below and choose a password. Then you can login.

%p= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email)

%p= "Mvh #{@admin.name} - WCMS Crew"
