%p= "Hej #{@user.profile.firstname}!"
%p Din ansökan har blivit godkänd.
%p= "Meddelande: #{@reason}"
%p Dina inloggninsuppgifter är:
%ul
  %li= "Användarnamn: #{@user.email}"
  %li= "Lösenord: #{@password}"

%p Du kan alltid byta lösenord när du är inloggad.
%p= "Mvh #{@admin.name} - WCMS Crew"
