%div.row
  %div.col.s16
    = form_for(@news) do |f|
      = render 'shared/form_errors', target: @news

      %div.input-field.col.s12
        = f.label :title
        = f.text_field :title, class: 'validate'

      %div.input-field.col.s12
        = f.label :body
        = f.text_area :body, class: 'materialize-textarea'

      %div.input-field.col.s12
        = f.submit t(:Save), class: 'waves-effect waves-light btn'
