%div.container-admin
  %div.row
    %div.col.s12
      %div.col.s3
        %div.card.yellow.darken-2.center-align
          %div.card-content.white-text
            %span.admin-card-title 3
            %h6= "Pending applications"
          %div.admin-card-action
            = link_to "See applications", admin_applications_path

      %div.col.s3
        %div.card.green.accent-3.center-align
          %div.card-content.white-text
            %span.admin-card-title 12
            %h6 People attending Blackrock Hold
          %div.admin-card-action
            = link_to "See raid", "#"

      %div.col.s3
        %div.card.light-blue.accent-2.center-align
          %div.card-content.white-text
            %span.admin-card-title 7
            %h6 Unsolved tickets
          %div.admin-card-action
            = link_to "Solve tickets", "#"

      %div.col.s3
        %div.card.red.darken-1.center-align
          %div.card-content.white-text
            %span.admin-card-title= @requests
            %h6= "Pending alt requests"
          %div.admin-card-action
            = link_to "See requests", admin_alt_requests_path


      %div.col.s6.black-text
        %h3.thin.center-align= t(:Todos)
        %ul.collection
          %li.collection-item.avatar.admin-item
            %i.material-icons.circle.white.red-text warning
            %span.title Need to fix new roles for raid forum
            %p These users need the new "moderator role" for the..
          %li.collection-item.avatar.admin-item
            %i.material-icons.circle.white.green-text event
            %span.title Create next weeks events
            %p Remember to create next weeks events before sunday
          %li.collection-item.avatar.admin-item
            %i.material-icons.circle.white.red-text warning
            %span.title Discouss ranking possiblity for Eatmyshocks
            %p Should he be an admin or not?
          %li.collection-item.avatar.admin-item
            %i.material-icons.circle.white.blue-text lightbulb_outline
            %span.title Filter forum threads
            %p Filter forum threads thats gone wild
      %div.col.s6.black-text
        %h3.thin.center-align= t(:Events)
        %ul.collection
          %li.collection-item.avatar.admin-item
            %i.material-icons.circle.white.purple-text notifications_active
            %span.title Edited
            %p Eatmyshocks edited the user Bombka
          %li.collection-item.avatar.admin-item
            %i.material-icons.circle.white.green-text notifications_active
            %span.title Created
            %p Bertius created a new dungeon
          %li.collection-item.avatar.admin-item
            %i.material-icons.circle.white.red-text notifications_active
            %span.title Delted
            %p Eatmyshocks deleted a draft from news
          %li.collection-item.avatar.admin-item
            %i.material-icons.circle.white.purple-text notifications_active
            %span.title Edited
            %p Swingaren edited the event Blackrock Hold
