%div.container
  %div.row
    %div.col.s12
      - if @search
        %p= search_results_for(@search)
      %table.striped
        %thead
          %th= t(:Title)
          %th= t(:Status)
          %th= t(:Permissions)
          %th= t(:Views)
          %th= t(:Created_at)
          %th
        %tbody
          - @news.each do |n|
            %tr
              %td= link_to n.title, news_path(n)
              %td= link_to n.status.capitalize, news_change_status_path(news_id: n.id, status: n.draft? ? :published : :draft), data: {confirm: 'Are you sure?'}
              %td= n.permissions
              %td= n.views
              %td= n.created_at.to_date
              %td
                = link_to t(:Edit), edit_news_path(n)
                = link_to t(:Delete), news_path(n), method: :delete, data: {confirm: 'Are you sure?'}
  %div.row
    %div.col.s12.pagination
      = paginate(@news)
