%div.container
  %div.row
    %div.col.s12
      - if @search
        %p= search_results_for(@search)
      %table.striped
        %thead
          %th= t(:Namn)
          %th= t(:Class)
          %th
        %tbody
          - @users.each do |user|
            %tr
              %td= user.name
              %td= user.profile.wow_class.capitalize.humanize
              %td
                = link_to t(:Edit), edit_user_path(user)
                = link_to t(:Delete), user_path(user), method: :delete, data: { confirm: 'Are you sure?' }
  %div.row
    %div.col.s12.pagination
      = paginate(@users)
