%div.navbar-fixed
  %nav
    %div.nav-wrapper.container
      = link_to "Family Legion", root_path, class: "brand-logo"
      %ul.right.hide-on-med-and-down
        %li= link_to t(:Home), root_path
        %li= link_to t(:About_us), about_path
        %li= link_to t(:Blog),"#"
        %li= link_to t(:Progress),"#"
        %li= link_to t(:Login),"#"
        %li= link_to t(:Apply),"#"
        %li
          =link_to t(:Language), "#!",  class: 'dropdown-button', "data-activates" => "dropdown1"
          %ul#dropdown1.dropdown-content
            %li= link_to t(:English), params.merge(locale: "en")
            %li= link_to t(:Swedish), params.merge(locale: "sv")
