%div.navbar-fixed
  %nav
    %div.nav-wrapper.nav-container
      = link_to image_tag("logos/logo.png", :border => 0), root_path, class: "brand-logo center"
      = link_to  "#", "data-activates" => "mobile-nav", class: "button-collapse" do
        %i.material-icons menu

      %ul.left.hide-on-med-and-down
        %li= link_to t(:About_us), about_path
        %li= link_to t(:Blog), "#"
        %li= link_to t(:Progress), "#"
      %ul.right.hide-on-med-and-down
        %li= link_to t(:Apply), "#"
        %li= link_to t(:Login), "#modal-login", class: "modal-trigger"
        %li
          =link_to t(:Language), "#!",  class: 'dropdown-button', "data-activates" => "dropdown1"
          %ul#dropdown1.dropdown-content
            %li= link_to t(:English), params.merge(locale: "en")
            %li= link_to t(:Swedish), params.merge(locale: "sv")

      %ul.side-nav#mobile-nav
        %li= link_to t(:About_us), about_path
        %li= link_to t(:Blog), "#"
        %li= link_to t(:Progress),"#"
        %li= link_to t(:Apply), "#"
        %li= link_to t(:Login), "#modal-login", class: "modal-trigger"

%div#modal-login.modal
  %div.modal-content
    %form.col.s12
      %div.row
        %div.input-field.col.s12
          %input{id: "email", type: "email", class: "validate"}
          %label{for: "email"}=t(:Email)
