%div.navbar-fixed
  %nav
    %div.nav-wrapper.container
      %a.brand-logo{href: root_path}
      %ul.right.hide-on-med-and-down
        %li= link_to t(:Home),"#"
        %li= link_to t(:About_us),"#"
        %li= link_to t(:Blog),"#"
        %li= link_to t(:Progress),"#"
        %li= link_to t(:Login),"#"
        %li= link_to t(:Apply),"#"
