%div.navbar-fixed
  %nav
    %div.nav-wrapper.nav-container
      - if current_user
        = link_to image_tag("logos/logo.png", :border => 0), dashboard_path, class: "brand-logo center"
      - else
        = link_to image_tag("logos/logo.png", :border => 0), root_path, class: "brand-logo center"
      = link_to  "#", "data-activates" => "mobile-nav", class: "button-collapse" do
        %i.material-icons menu

      %ul.left.hide-on-med-and-down
        %li= link_to t(:About_us), about_path
        %li= link_to t(:Blog), posts_path
        %li= link_to t(:Progress), "#"
      %ul.right.hide-on-med-and-down
        - if current_user
          %li
            =link_to "#", class: "" do
              %i.material-icons chat
          %li
            =link_to "#", class: "" do
              %i.material-icons notifications
          %li
            = link_to dashboard_path, class: "" do
              %i.material-icons developer_board
          %li
            =image_tag(render_thumbnail_url(current_user.profile.wow_region, current_user.profile.avatar),class: "img-nav  circle")
          %li
            =link_to current_user.name, "#", class: "dropdown-button wow #{current_user.profile.wow_class}", 'data-activates' => 'profile-dropdown'

        - else
          %li= link_to t(:Apply), new_guild_application_path
          %li= link_to t(:Login), login_path
          %li
            =link_to t(:Language), "#!",  class: 'dropdown-button', "data-activates" => "dropdown1"
            %ul#dropdown1.dropdown-content
              %li= link_to t(:English), params.merge(locale: "en")
              %li= link_to t(:Swedish), params.merge(locale: "sv")

      %ul.side-nav#mobile-nav
        %li= link_to t(:About_us), about_path
        %li= link_to t(:Blog), "#"
        %li= link_to t(:Progress),"#"
        %li= link_to t(:Apply), "#"
        %li= link_to t(:Login), "#modal-login", class: "modal-trigger"
