%div.container.black-text
  %div.row
    %div.col.12
      %p= "Senast uppdaterad: #{@user.latest_armory_update}"
    - @gears.each do |gear|

      %div.col.s12
        %a{:href => "#", :rel => "item=#{gear.item_id}&amp;bonus=#{gear.get_bonus}&amp;upgd=#{gear.item_upgrades}"}
