%div.container
  %div.row
    %div.col.16
      %h4= t(:News)

  %div.row
    %div.col.16.section
      - @news.each do |post|
        %h5= link_to post.title, news_path(post)
        %small= "#{t(:Published_at)}: #{post.updated_at.to_date} | #{t(:Views)}: #{post.views}"

        %p
          = truncate(post.body, length: 200)
          = link_to t(:Read_more), news_path(post)
        %div.divider
