.col.s12.dark-sh-well#settings
  .col.s3
    %ul.admin-collection
      %li
        = link_to user_settings_path(tab: :settings), class: ["collection-item", active_css_element(params[:tab], :settings)].join(' ') do
          %i.material-icons.left settings
          = t(:Settings)
      %li
        = link_to user_settings_path(tab: :user), class: ["collection-item", active_css_element(params[:tab], :user)].join(' ') do
          %i.material-icons.left airline_seat_recline_normal
          = t(:User)
      %li
        = link_to user_settings_path(tab: :alts), class: ["collection-item", active_css_element(params[:tab], :alts)].join(' ') do
          %i.material-icons.left supervisor_account
          = t(:Alts)
      %li
        = link_to user_settings_path(tab: :alt_requests), class: ["collection-item", active_css_element(params[:tab], :alt_requests)].join(' ') do
          %i.material-icons.left supervisor_account
          = t(:alt_requests)
      %li
        = link_to user_settings_path(tab: :twitch), class: ["collection-item", active_css_element(params[:tab], :twitch)].join(' ') do
          %i.material-icons.left video_label
          = t(:Twitch)

  .col.s9
    = render partial: "settings/partials/form_#{params[:tab]}"
