= form_for(@alt_request) do |f|

  .input_field.col.s6
    = f.label :alt_id
    = f.select(:alt_id, current_user.alts.map { |alt| [alt.wow_name, alt.id ]})
  .input_field.col.s6
    = f.label :reason
    = f.text_field :reason

  = f.submit "Skicka"
