= form_for AltRequest.new do |f|

  .input_field.col.s6
    = f.label :alt_id
    = f.select(:alt_id, current_user.alts.map { |alt| [alt.wow_name, alt.id ]})
  .input_field.col.s6
    = f.label :reason
    = f.text_field :reason
  .input_field.col.s12
    = f.submit "Skicka", class: "btn btn-prumary"
