= form_for @alt_request, remote: true, format: :json, html: {class: :ajax_form} do |f|
  %div#error_explanation{style:'display:none'}
    %ul#errors
  .input_field.col.s6
    = f.label :alt_id
    = f.select(:alt_id, current_user.alts.map { |alt| [alt.wow_name, alt.id ]})
  .input_field.col.s6
    = f.label :reason
    = f.text_field :reason
  .input_field.col.s12
    = f.submit "Skicka", class: "btn btn-prumary slider-btn"
