= form_for @alt_request, remote: true, format: :json, html: {class: :ajax_form} do |f|
  %div#error_explanation
    %ul#errors
  .input_field.col.s6
    = f.label :character_id
    = f.select(:character_id, current_user.characters.map { |alt| [alt.name, alt.id ]})
  .input_field.col.s6
    = f.label :reason
    = f.text_field :reason
  .input_field.col.s12
    = f.submit "Skicka", class: "btn btn-prumary slider-btn"
