.row
  .col.s12
    %h5.thin= t(:Alts)
    = link_to t(:Add_an_alt), "#", class: 'btn', data: { slider_content: '#new_alt' }
    = link_to t(:New_alt_request), "#", class: 'btn', data: { slider_content: '#new_alt_request' }
.col.s12.slider#new_alt
  .col.s12
    %h5.thin= t(:Add_an_alt)
  = render partial: "alts/partials/form"

.col.s12.slider#new_alt_request
  .col.s12
    %h5.thin= t(:Create_alt_request)
  - if current_user.has_active_request?
    .col.s12
      %p= t(:You_have_pending_alt_request)
  - else
    = render partial: "alt_requests/partials/form"
.row
  .col.s12
    %table
      %thead
        %th
        %th
      %tbody
      - current_user.alts.each do |alt|
        %tr
          %td= image_tag(render_thumbnail_url(alt.wow_region, alt.avatar),class: "img-table circle")
          %td= alt.wow_name
          %td= alt.wow_server
          %td= alt.wow_spec
