.row
  .col.s12
    %h5.thin= t(:Alts)
    = link_to t(:Add_an_alt), new_character_path, remote: true, class: 'btn', data: { slider_content: '#new_alt' }

.col.s12.slider#new_alt
  .col.s12
    %h5.thin= t(:Add_an_alt)
  = render partial: "characters/partials/form"

.row
  .col.s12
    %table
      %thead
        %th
        %th= t(:Name)
        %th= t(:Server)
        %th= t(:Spec)
      %tbody
      - current_user.alts.each do |alt|
        %tr
          %td= image_tag(render_thumbnail_url(alt.wow_region, alt.avatar_url),class: "img-table circle")
          %td= link_to alt.name, character_path(alt)
          %td= alt.wow_server.humanize
          %td= alt.wow_spec.humanize
