%div.row
  %div.col.s12
    =form_for(@user) do |f|
      = render 'shared/form_errors', target: @user

      %div.input_field.col.s6
        = f.label :email
        = f.email_field :email

      %div.input_field.col.s6
        = f.label :firstname
        = f.text_field :firstname
      %div.input_field.col.s6
        = f.label :lastname
        = f.text_field :lastname
      %div.input_field.col.s6
        = f.label :phone
        = f.text_field :phone

       =f.fields_for :characters do |char|
        %div.input_field.col.s6
          = char.label  :wow_server
          = char.text_field :wow_server

      %div.input_field.col.s12
        =f.submit "Save", class: "btn btn-primary"
