%div.collection.with-header
  %div.collection-header
    %h6 Meny
  = link_to t(:Blog), admin_blog_path, class: 'collection-item'
  = link_to t(:News), admin_news_path, class: 'collection-item'
  = link_to t(:Users), admin_users_path, class: 'collection-item'
  = link_to t(:Applications), admin_applications_path, class: 'collection-item'
  = link_to t(:Raids), "#", class: 'collection-item'
  = link_to t(:Stats), "#", class: 'collection-item'

%div.collection.with-header
  %div.collection-header
    %h6 Snabblänkar
  = link_to t(:Blog), admin_blog_path, class: 'collection-item'
  = link_to t(:Users), "#", class: 'collection-item'
  = link_to t(:Applications), "#", class: 'collection-item'
  = link_to t(:News), "#", class: 'collection-item'
  = link_to t(:Raids), "#", class: 'collection-item'
