%div.navbar-fixed
  %nav
    %div.nav-wrapper.container-admin
      = link_to  "#", "data-activates" => "mobile-nav", class: "button-collapse" do
        %i.material-icons menu

      %ul.left.hide-on-med-and-down
        %li
          =link_to admin_users_path do
            %i.material-icons.left face
            =t(:Users)
        %li
          =link_to admin_news_path do
            %i.material-icons.left note_add
            =t(:News)
        %li
          =link_to admin_blog_path do
            %i.material-icons.left create
            =t(:Blog)
        %li
          =link_to "#" do
            %i.material-icons.left lock
            =t(:Roles)
        %li
          =link_to "#" do
            %i.material-icons.left event_available
            =t(:Events)
        %li
          =link_to "#" do
            %i.material-icons.left forum
            =t(:Forum)
        %li
          =link_to "#" do
            %i.material-icons.left mail
            =t(:Email)
        %li
          =link_to "#" do
            %i.material-icons.left  settings
            =t(:Settings)
            
      %ul.right.hide-on-med-and-down
        %li
          =link_to admin_index_path do
            %i.material-icons.left dashboard
            =t(:Dashboard)
        %li
          =link_to dashboard_path do
            %i.material-icons.left home
            =t(:Website)

      %ul.side-nav#mobile-nav
        %li= link_to t(:About_us), about_path
        %li= link_to t(:Blog), "#"
        %li= link_to t(:Progress),"#"
        %li= link_to t(:Apply), "#"
        %li= link_to t(:Login), "#modal-login", class: "modal-trigger"
