%div.row
  %div.col.s12
    %div.col.s9
      - @posts.each do |post|
        %div.col.s12.dark-sh-well
          %h4.thin= post.title
          %p.thin= "#{t(:Published_at)}: #{post.published_at.to_date} | #{t(:Views)}: #{post.views}"

          %p.thin.blog-text
            = truncate(post.body, length: 400)
            = link_to t(:Read_more), post_path(post)
    %div.col.s3.dark-sh-well
      %h5.thin Mer nyheter
      - @posts.each do |post|
        %p= post.title
        %p.thin= truncate(post.body, length: 80 )
