%div.columns
  %div.one-fifth.column
    %nav.menu
      %span.menu-heading= t(:Menu)
      = link_to t(:Home), root_path, class: "menu-item"
      = link_to t(:Admin), nil, class: "menu-item"
      = link_to t(:Users), users_path, class: "menu-item"
    %nav.menu
      %span.menu-heading= t(:Language)
      = link_to t(:English), params.merge(locale: "en"), class: "menu-item"
      = link_to t(:Swedish), params.merge(locale: "sv"), class: "menu-item"
