!!!
%html
  %head
    %title

    = stylesheet_link_tag 'application', media: 'all', data: {turbolinks_track: true}
    = javascript_include_tag :application, data: { turbolinks_track: true }
    = csrf_meta_tags

  %body
    %div.container
      %div.columns
        %div.one-fifth.column
          %nav.menu
            = link_to t(:Home), root_path, class: "menu-item selected"
            = link_to t(:Admin), nil, class: "menu-item selected"
            = link_to t(:Users), users_path, class: "menu-item selected"
    %div.container
      = yield
      = render partial: '/layouts/partials/footer'
